{% extends 'WebsiteBundle::layout.html.twig' %}

{% block fb_og %}
	<meta property="og:url" content="http://www.victorhugo.com.ar/en/home"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:title" content="From Buenos Aires Argentina to all around the world." />
    <meta property="og:image" content="http://www.vihuvactools.com.ar/images/logos/w-og-logo.png" />
    <meta property="og:site_name" content="Victor Hugo Valle Castillo Website" />
    <meta property="og:description" content="The latest news about development and os support tips you want to know, just take a look at the website." />
{% endblock %}

{% block title %}
	{{ 'frontend.base.project_name' | trans }}
	-
	{{ 'frontend.categories.header_title' | trans }}
{% endblock %}

{% block header %}
	<div class="bs-header" id="content">
		<div class="container">
			<h1>{{ 'frontend.categories.header_title' | trans }}</h1>
			<p class="lead">{{ 'frontend.home.description' | trans }}</p>
		</div>
	</div>
{% endblock %}

{% block sonata_page_body_tag %}
    <body data-twttr-rendered="true">
{% endblock %}

{% block content %}
	<div class="container bs-docs-container">
		<div ="row">
			<div class="col-md-3">
				<div class="bs-sidebar hidden-print affix-top" role="complementary">
				    <ul class="nav bs-sidenav">
				        <li class="active">
				            <a href="#My-First-List">My-First-List</a>
				        </li>
				    </ul>
				</div>
			</div>

			<div class="col-md-9" role="main">
			    <div class="bs-docs-section">
			        <div class="page-header">
			            <h1 id="My-First-List">My-First-List</h1>
			        </div>

			        <h2>Available Lists</h2>
			        <p>
			            displaying content right here...
			        </p>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}